<% include ../header.ejs %>

    <table class="table table-bordered table-hover">
        <tr>
            <th>no</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
        </tr>
        <% contacts.forEach((contact) => { %>
        <tr>
            <td>
                <%=contact.seq%>
            </td>
            <td>
                <a href="/contacts/detail/:seq">
                    <%=contact.title%>
                </a>
            </td>
            <td>
                <%=contact.author%>
            </td>
            <td>
                <%=contact.getDate.year%>
                <%=contact.getDate.month%>
                <%=contact.getDate.day%>
                <%=contact.getDate.hour%>:<%=contact.getDate.minute%>:<%=contact.getDate.second%>
            </td>
        </tr>
        <%});%>
    </table>

    <a href="/contacts/write" class="btn btn-default">작성하기</a>

<% include ../footer.ejs %>